<footer class="flex flex-col h-40 items-center justify-center text-gray-400 text-sm">
  <!-- copyright -->
  <div class="flex items-center gap-2">
    <span>© 2019 - <%- new Date().getFullYear() %></span>
    <iconify-icon width="18" icon="eos-icons:atom-electron" ></iconify-icon>
    <span><%- config.author %></span>
  </div>
  <div class="flex items-center gap-2">
    <span>
    Powered by
    <a href="https://hexo.io/" target="_blank" rel="noopener noreferrer">Hexo</a>.
    Theme modified from
    <a href="https://github.com/xbmlz/hexo-theme-maple" target="_blank" rel="noopener noreferrer">Maple</a>.
    </span>
  </div>

</footer>
