<% if (page.total > 1){ %>
  <nav class="flex justify-center gap-5">
      <%- paginator({
          prev_text: "prev",
          next_text: "next",
          prev_next: true,
      }) %>
  </nav>
<% } %>
